@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tenor+Sans&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit; /* Inherits the color from the parent element */

  outline: none; /* Removes the outline on focus */
  text-decoration: none;
}
html {
  font-size: 16px; /* or your preferred size */
}
/* General styles */
body {
  /* font-family: "Roboto", "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif; */
  color: #efe3b8;
  font-family: "Tenor Sans", sans-serif;
}
h1 {
  font-size: 2rem;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 40vh;
  font-size: 1.25rem;
  background-size: cover;
  background-position: center;
}

.logo {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 4.5rem;
  margin-top: -2vh;
}

/* Index Page */

.indexBody {
  background-image: url("images/landingPageBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.landingPageMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17vh;
}
.landingPageBio {
  width: 50vw;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10vh;
}
.callToAction {
  border: #efe3b8 1px solid;
  border-radius: 0.5rem;
  font-size: 1.5rem;

  padding: 1em;
  width: fit-content;
}

/* Massages */
.massagesBody {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
}

.massagesBody nav {
  width: 100%;
  height: 40vh;
  background-image: url("images/massagesNavBackground.png");
  background-size: cover;
  background-position: center;
}
.massagesMain {
  background-color: #b89e6f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.massagesBody h1 {
  font-size: 3rem;
  margin-top: -10vh;
  margin-bottom: 5vh;
}
.massagesContainer {
  display: flex;
  padding-left: 5vw;
  padding-right: 5vw;
  flex-wrap: wrap;
  color: #695125;
  justify-content: center;
  align-items: center;
}
.massageTile {
  width: 18vw;
  min-width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
}
.massageTile img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 1rem;
}
.tileBio {
  font-size: 0.8rem;
}
.massageTile a {
  padding: 1em;
  color: #efe3b8;
  text-align: center;
}
.messagesMessage {
  z-index: 100;
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}
.messagesMessage a {
  border: #efe3b8 solid 1px;
  padding: 2em;
  border-radius: 1rem;
  margin-bottom: 5vh;
}

/* offers Page */
.offersBody nav {
  width: 100%;
  height: 40vh;
  background-image: url("images/offersNavBackground.png");
  background-size: cover;
  background-position: center;
  color: #695125;
}
.offersBody {
  background-color: #efe3b8;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.offersMain h1 {
  font-size: 3rem;
  color: #695125;
  margin-top: -10vh;
  margin-bottom: 10vh;
  text-align: center;
}

.offersContainer {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;

  /* justify-content: center; */
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
}
.offerTile {
  margin: 1em;
  color: #695125;
  width: 200px;
  height: 100px;
}
.tileTitle {
  font-weight: bold;
  margin-bottom: 1em;
}
/* Our team page */
.ourTeamBody {
  background-color: #b89e6f;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourTeamBody h1 {
  margin-top: -10vh;
  margin-bottom: 10vh;
  text-align: center;
  font-size: 2.5rem;
  color: #fffcf0;
}
.ourTeamMain {
  margin-bottom: 10vh;
}
.ourTeamBody nav {
  width: 100%;
  height: 40vh;
  background-image: url("images/teamNavBackground.png");
  background-size: cover;
  background-position: center;
  color: #fffcf0;
}
.ourTeamBody footer {
}
.aboutUsTile {
  color: #fffcf0;
  /* width: 50vw; */
  display: flex;
  flex-wrap: wrap;
  color: black;
  background-color: #fffcf0;
  margin-top: 1em;
  padding: 1em;

  justify-content: center;
  border-radius: 16px;
}
.aboutUsTile h3 {
  color: #695125;
}
.aboutUsTile img {
  margin-right: 1em;
  height: 250px;
  border-radius: 8px;
}
.aboutUsBio {
  width: 40vw;
  min-width: 300px;
}
/* Get in touch Body */
.getInTouchBody nav {
  width: 100%;
  height: 40vh;
  background-image: url("images/contactNavBackground.png");
  background-size: cover;
  background-position: center;
  color: #4d3928;
}
.getInTouchBody {
  background-color: #efe3b8;
  color: #4d3928;
}
.contactMain > p {
  text-align: center;
}
.contactMain > h1 {
  text-align: center;
  margin-top: -10vh;
  margin-bottom: 10vh;
}
.contactTitle {
  margin-bottom: 1em;
}
.contactTile {
  margin-bottom: 2em;
}
.contactContainer {
  display: flex;
  justify-content: space-around;
}
footer {
  text-align: center;
  background-color: #4d3928;
  width: 100%;
  color: #fffcf0;

  padding: 1em;
}

/* Media queries */
@media only screen and (max-width: 1000px) {
  nav {
    display: flex;
    flex-direction: column;

    padding-bottom: 3vh;
    background-size: cover;
  }
  nav a {
    font-size: 1rem;
  }
  .offersMain h1 {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .contactMain h1 {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .ourTeamMain h1 {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .massagesMain h1 {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .offersMain h1 {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  .offersContainer {
    width: 80vw;
  }
  .contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contactMain {
    padding-left: 1em;
    padding-right: 1em;
  }
  .contactMain p {
    margin-bottom: 1em;
  }
  .aboutUsTile {
    width: 80vw;
  }
  .aboutUsTile img {
    height: 250px;
    border-radius: 8px;
    margin-bottom: 1em;
  }
}
