@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tenor+Sans&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: inherit; /* Inherits the color from the parent element */

  outline: none; /* Removes the outline on focus */
  text-decoration: none;
}

/* Generic Styles */
body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  background-color: #faf9f6;
  color: #4a4a4a;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  margin-bottom: 2rem; /* Add space below the navigation */
}
.navContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 30vh;
  background-color: #d8a790;
}
main {
  background-color: #faf9f6;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
}
footer {
  background-color: #f4ede4;
  border-top: 1px solid #e0e0e0;
  margin-top: auto; /* Push the footer to the bottom of the page */
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
p {
  font-size: 1rem;
}
li:hover {
  color: black;
  transition: ease-in-out;
}
section {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

/* Nav Styles */
li {
  border-bottom: #4a4a4a 1px solid;
  padding: 1em;
  margin: 1em;
  height: fit-content;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Light shadow */
  background-color: #f1e4e0;
}

.navContainer > :first-child {
  padding: 3px;
}
.navContainer > :first-child li {
  font-weight: bolder;
  font-size: 2.5rem;
  font-family: "Qwitcher Grypen", "Courier New", Courier, monospace;
  padding: 1px;
}
.navContainer img {
  width: 15vw;
  min-width: 200px;
}
.navContainer > :nth-last-child(2) {
  font-weight: bold;
  border-radius: 50%;
}
.navContainer > :last-child {
  background-color: #4a4a4a00;
  border: none;
  box-shadow: none;
}
/* footer styles */
footer {
  display: flex;

  text-decoration: none;
  align-items: center;
  flex-direction: column;
  background-color: #d8a790;
}
.footerContainer {
  display: flex;
}
.footerContainer li {
  border: none;
  text-decoration: underline;
  padding: 5px;
  margin: 2px;
  background-color: #f1e4e0;
}
.footerImg {
  width: 250px;
}
.primaryButton {
  font-size: 2rem;
  padding: 1em;

  border-radius: 8px;
  background-color: #f4ede4;
  width: fit-content;
  border: #4a4a4a solid 1px;
}
/* index */
.callToAction {
  margin-top: 15vh;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Larger, more intense shadow */
}

.indexBody {
  background-image: url("images/landingPageBackground.png");
  background-size: cover; /* Ensures the image covers the entire area */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
.indexBody main {
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 5vw;
}
.landingPageSection {
  background-color: #faf9f6ba;
  padding: 2em;
  border-radius: 8px;
  text-align: center;
  width: 50vw;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.landingPageSection p {
  font-size: 1.5em;
}

/* massages page */
.massagesNav {
  border-bottom: #4a4a4a 1px solid;
}
#massagesContainer {
  display: flex;
  flex-direction: row;
  width: 60vw;
  flex-wrap: wrap;
  margin-bottom: 5em;
  margin-top: 2em;
}
.massageTile {
  width: 300px;
  height: 450px;
  border: #dbdbdbc0 1px solid;
  padding: 1em;
  border-radius: 8px;
  background-color: #f4ede4;
}
.massageTile img {
  width: 100%;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}

.massageTile a {
  text-decoration: underline;
  font-weight: bold;
}

/* pakcages page */
.packagesNav {
  background-image: url("images/offersNavBackground.png");
  background-size: cover; /* Ensures the image covers the entire area */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
#packagesContainer {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
  margin-bottom: 5em;
  flex-wrap: wrap;
}
.packageTile {
  width: 300px;

  border: #4a4a4a 1px solid;
  border-radius: 8px;
  padding: 1em;
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #f4ede4;
}
.packageTile a {
  text-align: center;
  text-decoration: underline;
  width: 100%;
}
.packageTile li {
  padding: auto;
  border: none;

  background-color: #f4ede4;
  list-style: circle;
}
.packageTile span {
  font-weight: bold;
}
.packageTile li:hover {
  color: #4a4a4a;
}

.packageTile li {
  border: none;
  padding: 0em;
  margin: 0em;
  height: auto;
  width: auto;
  border-radius: none;
  box-shadow: none;
  background-color: none;
  margin-left: 2em;
  line-height: 1.15em;
  background-color: #f4ede4;
}

/* About team */
#ourTeamContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.ourTeamTile {
  display: flex;
  flex-direction: row;
  border: #4a4a4a solid 1px;
  width: 500px;
  padding: 2em;
  margin-bottom: 1em;
  border-radius: 8px;
  background-color: #f4ede4;
  width: 700px;
  min-height: 355px;
  align-items: start;
}
.aboutTileBio {
  text-align: start;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
.ourTeamTile li {
  border: none;
  padding: 0em;
  margin: 0em;
  height: auto;
  width: auto;
  border-radius: none;
  box-shadow: none;
  background-color: none;
  margin-left: 1em;
  background-color: #f4ede4;
  font-weight: bold;
}
.ourTeamTile img {
  height: 100%;
  border-radius: 8px;
}
.ourTeamNav {
  background-image: url("images/teamNavBackground.png");
  background-size: cover; /* Ensures the image covers the entire area */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

.ourTeamTile section {
  width: 100%;
}

/* Contact us page */
.contactNav {
  background-image: url("images/contactNavBackground.png");
  background-size: cover; /* Ensures the image covers the entire area */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
.contactContainer {
  border: #4a4a4a 1px solid;
  border-radius: 8px;
  padding: 3em;
  width: fit-content;
  margin: 2em;
}
.contactContainer a {
  text-decoration: underline;
}
iframe {
  width: 30vw;
  height: 30vh;
}

@media (max-width: 1150px) {
  .navContainer {
    display: flex;
    flex-direction: column-reverse;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: auto;
  }
  .navContainer li {
    padding: 0.5em;
    margin: 0.2em;
  }
  .footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
  }
  .footerContainer li {
    padding: 0.5em;
    margin: 0.2em;
  }
  .callToAction {
    margin-top: 1px;
  }
  .ourTeamTile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navContainer > :last-child {
    display: none;
  }
  .pageIntro {
    width: 100%;
  }
  #packagesContainer {
    width: 80vw;
  }
  .packageTile {
    width: 100%;
  }
}
